.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;

    .task-form {
        display: flex;
        flex-direction: row;
        width: 98%;
        height: 15vh;
        padding-top: 20px;
        justify-content: center;

        form {
            display: flex;
            flex-direction: row;
            width: 95%;
            height: 6vh;
            padding-top: 20px;
            justify-content: center;

            input[type=text] {
                width: 250px;
                height: 30px;
                margin-right: 30px;
            }

            label {
                width: fit-content;
                height: 30px;
                line-height: 1.2;
                align-items: center;
                display: flex;
                padding-right: 10px;
            }

            button {
                width: 150px;
                height: 40px;
                background-color: yellow;
                color: black;
                border-radius: 10px;
                border: 1px solid black;
            }
        }
    }
}