.todo-list {
   display: flex;
   width: 98vw;
   height: 98vh;
   justify-content: center;

   .login-wrapper,
   .signup-wrapper {
      display: flex;
      width: 80vw;
      height: 90vh;
      flex-direction: column;
      align-items: center;
      top: 30px;
      position: absolute;

      .header {
         display: flex;
         justify-content: center;
         flex-direction: column;

         h1,
         h5 {
            margin: 0;
            padding-bottom: 30px;
            display: flex;
            justify-content: center;

         }

         h5 {
            color: red;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: bold;
         }
      }


      .login {
         display: flex;
         flex-direction: row;
         width: 100%;
         height: max-content;

         .loginForm {
            display: flex;
            width: 100%;
            justify-content: center;

            form {
               width: fit-content;
               height: max-content;
               display: flex;
               flex-direction: row;

               input[type=text],
               input[type=password] {
                  margin-right: 20px;
                  border-radius: 10px;
                  background-color: white;
                  color: black;

                  &:hover {
                     cursor: pointer;
                     background-color: rgb(206, 203, 203);
                  }
               }

               button {
                  margin-right: 20px;
               }
            }
         }
      }

      .register {
         display: flex;
         flex-direction: row;
         width: 100%;
         height: max-content;
         justify-content: center;

         form {
            width: 60%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 2px solid black;

            .row {
               display:flex;
               flex-direction: row;
               justify-content: space-evenly;
               align-items: center;

               label{
                  padding-right: 10px;
                  width: 120px;
               }
               h2,
               p {
                  padding: 10px;
                  margin: 0;
               }

               input[type=text],
               input[type=password] {
                  margin-top: 20px;
                  margin-bottom: 10px;
                  border-radius: 10px;
                  height: 20px;
                  width: 50%;

               }
               input[type=password]{
                  margin-bottom: 20px;

               }
             
            }
            button{
               margin-bottom: 20px;
            }
         }
      }
   }
}