.tasks-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;

    .task {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        align-items: center;

        .name {
            width: 150px;
        }

        .desc {
            width: 250px;
        }

        .done {
            width: 50px;
        }

        .delete {
            background-color: red;

        }

        .edit {
            background-color: lightgreen;
            color: black;
        }
    }
}