.wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    align-items: center;



    .tasks-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        width: 80%;

        .task-info {
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: space-evenly;

            form {
                display: flex;
                flex-direction: row;
                width: 95%;
                height: 6vh;
                padding-top: 20px;
                justify-content: center;

                input[type=text] {
                    width: 250px;
                    height: 35px;
                    margin-right: 30px;
                    border-radius: 10px;
                    background-color: white;
                    color: black;
                }

                input[type=datetime-local] {
                    padding-right: 10px;
                    border-radius: 10px;
                    height: 35px;
                    margin-right: 10px;
                    background: url('data:image/svg+xml;base64,...') no-repeat right;
                    color: white;
                    border: 1px solid white;
                }

                button {
                    width: 5vw;
                    height: 4vh;
                    border-radius: 10px;
                    border: 1px solid black;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                }
            }

            .task {
                display: flex;
                flex-direction: row;
                gap: 10px;
                justify-content: center;
                align-items: center;
                width: 90%;

                .name {
                    width: 12vw;
                }

                .desc,
                .be-done {
                    width: 20vw;

                }

                .buttons {
                    width: 15%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    button {
                        margin-left: 2px;
                    }
                }

                .done {
                    width: 50px;
                }

                .edit {
                    background-color: lightgreen;
                    color: black;
                }
            }

        }
    }
}

.delete {
    background-color: red;

}