.tasks-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    
    .task {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        align-items: center;
        width: 100%;
        .name {
            width: 15vw;
        }

        .desc,.be-done {
            width: 20vw;
            
        }

        .done {
            width: 50px;
        }

        .delete {
            background-color: red;

        }

        .edit {
            background-color: lightgreen;
            color: black;
        }
    }
}