@mixin add-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.form-wrapper {
    @include add-item();
    width: 100vw;
    height: 90vh;
    justify-content: center;
    overflow-y: auto; 
    .wrapper {
        @include add-item;
        width: 60%; 
        max-width: 600px; 
        background: #f9f9f9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 20px;
        box-sizing: border-box;

        h1 {
            margin-bottom: 20px;
            font-size: 24px;
            color: #333;
        }

        .form {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 500px; 
            margin: 0 auto; 

            form {
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-items: stretch; 
                border: 2px solid #ddd;
                border-radius: 8px;
                background: #fff;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
                width: 100%;

                .name,
                .pic,
                .price,
                .category,
                .description {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    margin-bottom: 20px; 
                    align-items: center;

                    label {
                        width: 150px;
                        font-weight: bold;
                        color: #333;
                        margin-right: 15px;
                    }

                    select,
                    input[type=text],
                    input[type=number] {
                        flex: 1; 
                        height: 40px;
                        padding: 0 10px;
                        margin-bottom: 5px;
                        border-radius: 5px;
                        border: 1px solid #ccc;
                        font-size: 16px;

                        &::placeholder {
                            color: #aaa;
                        }
                    }
                }
                .submit {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    button {
                        padding: 10px 20px;
                        border: none;
                        border-radius: 5px;
                        background-color: greenyellow;
                        color: black;
                        font-size: 16px;
                        cursor: pointer;
                        transition: background-color 0.3s;
                        &:hover {
                            background-color: #d4d4d4;
                        }
                    }
                }
            }
        }
    }
}
