@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

:root {
    --background-color-footer : #101119;
    --background-secondary-color: #2b2e3c;
    --highlight-color: #1a48c4;
    --list-hover: rgb(118, 186, 223);
    --font-family-primary-fancy: 'Neue Haas Grotesk Display Pro', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.footer__container {
    display: grid;
    grid-template-columns: 1.5fr 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 0px;
    background-color: var(--background-color-footer);
    padding: 3rem 2rem;
    max-width: 100%; 
    color: white;
    font-family: var(--font-family-primary-fancy);
    h3 {
        margin-right: 1rem; 
    }
}
/* image */
.footer__image { 
    grid-area: 1 / 1 / 3 / 2;
    display: flex; 
    justify-content: center; 
    align-items: flex-start;
    img {
        width: 80%;
    }
}
/*  Contact   */
.footer__contact { 
    grid-area: 1 / 2 / 2 / 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    border-bottom: #2b2e3c 1px solid;
    /* follow */
    &__follow {
        grid-area: 1 / 1 / 2 / 4;
        &__upper {
            display: flex;
            align-items: center; 
            padding-bottom: 1rem;
            margin-right: 1rem;
            border-bottom: #2b2e3c 1px solid;
            ul {
                display: flex;
                list-style: none;
                align-items: center;
                justify-content: center;
                margin: 0; 
                padding: 0; 
                li {
                    margin: 0.3rem;
                    i {
                        text-align: center;
                        color: white;
                        padding: 0.5rem;
                        border: var(--background-secondary-color) 1px solid;
                        background-color: var(--background-secondary-color);
                        border-radius: 50%;
                        &:hover {
                            border-color: var(--highlight-color);
                            background-color: var(--highlight-color);
                            cursor: pointer;
                        }
                    }
                }
            }          
        }
        /* Daily */
        &__lower {
            display: flex;
            flex-direction: column;
            &__1 {
                display: flex;
                flex-direction: row;
                h3 {
                    margin: 2rem 0;
                    span {
                        font-weight: 300;
                        font-size: 1rem;
                        letter-spacing: 1px;
                    }
                }
            }
            &__2 {
                max-width: 300px;
                .email-form {
                    background-color: var(--background-secondary-color);
                    display: flex;
                    justify-content: center;
                    padding: 0.5rem;
                }
                
                .input-group {
                    position: relative;
                    width: 100%;
                    display: flex;
                    align-items: center;
                }
                
                input[type="email"] {
                    width: 100%;
                    padding: 0.5rem ;
                    background: none;
                    border: none;
                    border-bottom: white 1px solid;
                    color: white;
                    font-size: 1rem;
                    outline: none;
                    
                    &::placeholder {
                        color: transparent;
                    }
                }
                
                label {
                    position: absolute;
                    left: 0;
                    color: white;
                    pointer-events: none;
                    font-size: 1rem;
                    padding: 0.5rem 0;
                }
                
                .submit-btn {
                    background: none;
                    border: none;
                    color: white;
                    font-size: 1.5rem;
                    padding: 0.5rem;
                    cursor: pointer;
                    outline: none;
                    padding-left: 2rem;
                    &:hover {
                        color: var(--list-hover)
                    }
                }

            }
            &__3 {
                p {
                    margin-top: 1rem;
                    font-size: 0.8rem;font-weight: 400;
                    color: #828595;
                    padding: 0 1rem 1rem 0;
                }
                padding-bottom: 1rem;
            }

        }
        
    }
    /* tip */
    &__tip { 
        grid-area: 1 / 4 / 2 / 5;
        display: flex;
        flex-direction: column;
        h3, h5, button {
            margin-bottom: 2rem;
            letter-spacing: 1px;
        }
        h5 {
            font-weight: 400;
            font-size: 1rem;
        }
            .tipBtn {
            font-size: 0.8rem;
            font-weight: 800;
            padding: 1rem;
            background-color: var(--background-secondary-color);
            color: white;
            transition: all 0.3s ease;
            border: none;
            &:hover {
                cursor: pointer;
                background-color: var(--highlight-color);
            }
            }
        }


    }
    
/* menu */

.footer__menu { 
    grid-area: 2 / 2 / 3 / 4; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    padding-top: 1rem;
    a {
        text-decoration: none;
        color: white;
    }
    h3 {
        padding: 1rem 0;
    }
  
    
    &__1 { 
        grid-area: 1 / 1 / 2 / 2;
        
        
     }
    &__2{ 
        grid-area: 1 / 2 / 2 / 3; 
        border-left: #2b2e3c 1px solid;
        padding-left: 1rem;
    }
    &__3 { 
        grid-area: 1 / 3 / 2 / 4;
        border-left: #2b2e3c 1px solid;
        padding-left: 1rem;
     }
    &__4 { 
        grid-area: 1 / 4 / 2 / 5; 
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        border-left: #2b2e3c 1px solid;
        .subscribeFooter, .customerService {
            font-size: 1rem;
            font-weight: 600;
            width: 9rem;
            padding: 0.5rem;
            margin: 1rem 0;
            color: white;
            transition: all 0.3s ease;
            &:hover {
                cursor: pointer;
            }
        }
        .subscribeFooter {
            background-color: #1a48c4;
            border: none;
            &:hover {
                background-color: white;
                color:#1a48c4;
            }
        }
        .customerService {
            border: 1px solid white;
            background-color: var(--background-color-footer);
        
        }
    }
    ul {
        list-style: none;
        li {
            padding: 0.3rem 0;
            font-weight: 500;
            &:hover {
                color: var(--list-hover);
                cursor: pointer;
            }
        }
    }
    
}

/*   lower footer part */
.footer__bottom {
    background-color: white;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &__left {
        display: flex;
        align-items: center;
        img {
            height: 3rem;
            margin-right: 1rem;
        }
        p {
            width: 60%;
            margin: 0;
            font-family: var(--font-family-primary-fancy);
            font-size: 0.7rem;
        }
    }
    &__right {    
.menu-container {
    position: relative;
    width: 15rem;
    border: #2b2e3c 1px solid;
    &:hover .menu-content {
        max-height: 10rem; 
        overflow-y: auto;
    }
}

.menu-header {
    padding: 0.5rem 1rem;
    text-align: center;
    cursor: pointer;
    font-family: var(--font-family-primary-fancy);
    font-weight: 700;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    
}

.menu-content {
    position: absolute;
    background-color: white;
    bottom: 100%; 
    width: 100%;
    font-family: var(--font-family-primary-fancy);
    font-weight: 600;
    font-size: 0.8rem;
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 0.3s ease;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding: 0.8rem 1rem;
            cursor: pointer;
            &:hover {
                background-color: var(--highlight-color);
            }
        }
    }
}
    }
}