:root {
    --font-family-primary-fancy: 'Neue Haas Grotesk Display Pro', sans-serif;
    --font-family-primary: "Times New Roman", serif;
    --font-family-secondary-fancy: Arial, sans-serif;
    --sticky-nav-height: 5.25rem;
    --login-bar-height: 0rem;
    --sticky-header-height: 4.25rem;
    --primary-color-header: white;
    --secondary-color: black;
    --highlight-color: #1a48c4;
    --login-hover: rgb(118, 186, 223);
    --border-color: #2f323f;
    --shadow-color: rgba(0, 0, 0, 0.16);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100% !important;
    font-family: var(--font-family-primary-fancy);
}

header {
    z-index: 1000;
    letter-spacing: 3px;
    transition: 0.5s;
    color: var(--primary-color-header);
    background-color: var(--secondary-color);
    font-weight: 600;

    a {
        text-decoration: none;
        color: var(--primary-color-header);
    }

    h2 {
        letter-spacing: -2px;
    }

    .header__logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 2rem;
        padding: 0.5rem 2rem;
        border-bottom: 1px solid var(--border-color);

        &__middle {
            text-align: center;
            margin-left: 15rem;
        }

        &__right {
            display: flex;
            gap: 10px;
        }
    }

    .header__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.75rem;
        padding: 0.5rem 2rem;
        background-color: var(--secondary-color);
        transition: all 0.5s ease;
        
        &.sticky {
            position: fixed;
            top: 0;
            width: 100%;
            background-color: black; 
            color: var(--primary-color-header); 
            z-index: 9999;
        }

        &__left {
            .fa-magnifying-glass {
                font-size: 1.5rem;

                &:hover {
                    color: var(--highlight-color);
                }
            }

            .brand1 {
                display: inline;
            }

            .brand2 {
                display: none;
                h2 {
                    font-size: 1.5rem;
                    letter-spacing: 1px;
                }
            }
        }

        &__middle {
            ul {
                list-style: none;
                display: flex;
                padding: 0;
                margin: 0;

                li {
                    padding: 0.5rem 3rem;
                    a {
                        &:hover {
                            color: var(--highlight-color);
                        }
                    }
                }
            }
        }

        &__right {
            .brand1 {
                display: inline;
            }

            .brand2 {
                display: none;

                .login2 {
                    border: none;
                    &:hover {
                        color: var(--login-hover);
                    }
                }
            }
        }

        &.scrolled {
            .brand1 {
                display: none;
            }

            .brand2 {
                display: inline;
            }
        }
    }

    .header__secondary {
        background-color: white;
        height: 2.8125rem;
        box-shadow: 0px 3px 6px var(--shadow-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        letter-spacing: 0;

        ul {
            display: flex;
            justify-content: space-between;
            padding: 0 2rem;
            width: 100%;

            li {
                list-style: none;
                text-align: center;
                padding-left: 0;
                margin: 0;

                a {
                    color: #63677a;
                    transition: color 0.3s ease;

                    &:hover {
                        color: var(--highlight-color);
                    }
                }
            }
        }

        #spanish {
            color: white;
            background-color: var(--highlight-color);
            padding: 0.3rem;
            transition: background-color 0.3s ease, color 0.3s ease;

            &:hover {
                color: var(--highlight-color);
                background-color: white;
            }
        }
    }
}

/* Buttons */
.login, .subscribe, .login2 {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem;
    border: 1px solid white;
    background-color: var(--secondary-color);
    color: var(--primary-color-header);
    transition: all 0.3s ease;

    &:hover {
        cursor: pointer;
    }

    &.login:hover {
        border-color: var(--login-hover);
        color: var(--login-hover);
    }

    &.subscribe {
        background-color: var(--highlight-color);
        border: none;

        &:hover {
            background-color: white;
            color: var(--highlight-color);
        }
    }

    &.login2 {
        border: none;

        &:hover {
            color: var(--login-hover);
        }
    }
}

/* Sliding Menu */
.sliding-menu {
    display: none;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1000;
    overflow-y: auto;
    transition: top 0.5s;

    &.open {
        display: block;
        top: 0;
    }
}

/* Menu Button */
#menuButton {
    background-color: var(--secondary-color);
    color: var(--primary-color-header);
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    cursor: pointer;

    i {
        font-size: 1rem;
    }
}
