@media screen and (max-width: 1600px) {
    html {
        font-size: 5px;
    }
}

@media screen and (max-width: 2000px) {
    html {
        font-size: 5px;
    }
}

@media screen and (min-width: 1000px) {
    html {
        font-size: 16px;
    }
}


.wrapper {
    width: 100vw;
    height: 100vh;



    .animals {
        width: 90vw;
        height: 90vh;
        background-repeat: no-repeat;


        &__animal {
            width: 15vw;
            height: 10vh;
            position: absolute;
            display: inline-block;
            border: 1px solid black;
            background-color: rgb(247, 244, 244);

            .animal-img {
                width: 30%;
                height: 100%;
                float: left;
                display: flex;

                img {
                    width: 30%;
                    height: 100%;
                    position: absolute;

                    &:hover {
                        opacity: 0.8;
                        rotate: 3deg;
                        cursor: pointer;
                    }
                }
            }

            .animal-info {
                display: flex;
                flex-direction: column;
                position: absolute;
                left: 35%;
                width: 100%;
                height: 100%;
                width: fit-content;

                p {
                    // width: fit-content;
                    font-weight: 900;
                    padding: 0;
                    margin: 0;
                    font-size: 0.6rem;
                    line-height: normal;
                    max-block-size: 20px;
                    max-height: fit-content;
                }
            }
        }
    }
}

.info {

    display: flex;
    flex-direction: row;
    width: 550px;
    justify-content: space-between;
    height: 4vh;
    align-items: center;
    position: inherit;

    h2 {
        font-size: 20px;
    }

    select {
        width: 150px;
        height: 30px;
        border-radius: 15px;
        font-weight: bolder;
        text-align: center;
        background-color: #b2e0f5;
        option {
            font-size: larger;
        }

    }

    button {
        border-radius: 20px;
        width: 150px;
        height: 30px;
        background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
        font-weight: bolder;
    }
}