.page {
    display: grid;
    border: 2px solid rgb(1, 1, 1);
    grid-template-columns: 14rem 14rem 14rem 14rem;
    grid-template-rows: 10rem 23rem 18rem 15rem 7rem;
    gap: 3rem;
    background-color: rgb(31, 26, 36);
    color: white;
    width: 100%;
    height: fit-content;
    padding: 3rem;
    padding-left: 10%;

    h3 {
        font-size: 1.8rem;
        border-bottom: 0.13rem solid rgb(45, 71, 221);
    }

    dt {
        font-size: 1.2rem;
    }

    .header {
        display: grid;
        grid-row: 1;
        grid-column: 1 / 5;
        border-bottom: 0.08rem rgb(118, 146, 157) solid;
        align-items: left;
        justify-content: left;
        font-size: 3rem;
        margin: -1rem;
        display: flex;
        gap: 4rem;

        h2 {
            padding: 2rem 0 0 0;
        }

        .header__search {
            padding: 0.8rem;
            height: fit-content;
            margin-top: 5.5%;
            display: flex;
            align-items: center;
            color: white;
            background-color: rgb(58, 58, 73);

            input {
                outline: none;
                border: none;
                background: none;
                width: 40rem;
                font-size: 1.1rem;
                color: white;
            }
        }

        button {
            background: none;
            border: none;
            color: white;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            .fa-x {
                font-size: 2rem;
                color: white;
                padding: 0;
                margin: 0;
                cursor: pointer;
            }
        }
    }

    .subscribe {
        img {
            width: 100%;
        }
    }

    .newsletter {
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        grid-row: 5;
        grid-column: 1 / 5;
        border-top: 0.12rem solid rgb(153, 174, 209);
        border-bottom: 0.12rem solid rgb(153, 174, 209);
        display: flex;

        .newsletter__icons {
            margin-left: 1.5rem;

            img {
                width: 8%;
                border-radius: 50%;
            }
        }

        .newsletter__email {
            padding: 0.8rem;
            height: fit-content;
            display: flex;
            align-items: center;
            color: white;
            background-color: rgb(58, 58, 73);

            input {
                outline: none;
                border: none;
                border-bottom: 0.1rem solid white;
                padding-bottom: 0.2rem;
                background: none;
                width: 35rem;
                font-size: 0.8rem;
                color: white;
            }
        }
    }

    
}
