.container {
    display: flex;
    align-items: center; 
    column-gap: 25px;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 70px;
    padding-bottom: 70px;
    
   }
.article{
    font-family: Helvetica, sans-serif;

    

    &--Name{
        font-size: 35px;

    }

    &--Designation{
    font-size: 20px;
    }

    &--Company{
        font-size: 20px;
        box-sizing: border-box;
        background-color: rgb(223, 223, 69);
    }

    &--information{
        font-size: 20px;
    }

    &--quote{
        box-sizing: border-box;
        background-color: black;
        color: white;
        font-size: 20px;
    }

    &--Company2{
        font-size: 20px;
        box-sizing: border-box;
        color: black;
        background-color: Blue;
    }

    &--quote2{
        box-sizing: border-box;
        background-color: white;
        color: black;
        font-size: 20px;
    }
    }