.body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.bodyOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Dimmed background */
    z-index: 999; /* Below modal but above other content */
}

.modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1001; /* Above the overlay */
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.modalContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.closeButton {
    background-color: rgb(15, 101, 151);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
}

