#phaser-container {
  display: grid;
  place-items: center; // Centers both horizontally and vertically
  width: 1vw;
  height: 1vh;
  background: linear-gradient(135deg, #1e1e2f, #2c3e50);

  canvas {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}
