.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    
    .images{
        background-color: lightblue;
        width: 200px;
        
        img{
            width: 100%;
        }
    }
}
