#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.theme{
  position: absolute;
  top: 0;
  right: 0;
  left: 100px;
  justify-content: center;
  align-items: center;
}



.red {
  background-color: #ff0000;
  color: #fff;
}

.green {
  background-color: #00ff00;
  color: #fff;
}

.blue {
  background-color: #0000ff;
  color: #fff;
}

.yellow {
  background-color: #ffff00;
  color: #000;
}

.magenta {
  background-color: #ff00ff;
  color: #000;
}

.cyan {
  background-color: #00ffff;
  color: #000;
}

.black {
  background-color: #000;
  color: #fff;
}

.white {
  background-color: #fff;
  color: #000;
}

.gray {
  background-color: #808080;
  color: #fff;
}

.orange {
  background-color: #ffa500;
  color: #000;
}