table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
