.center-header {
    justify-content: center;
    align-items: center;
    display: flex;

    .memorial-img {
        width: 1100px;
        height: 100px;
        padding-left: 20px;
        padding-right: 20px;


        img {
            width: 100%;
            height: auto;
            padding-bottom: 50px;
        }
    }

}

.header {

    position: sticky;
    top: 0px;
    height: auto;
    justify-content: center;
    align-items: center;
    z-index: 7;
    padding-bottom: 20px;

    .logo {
        font-weight: bolder;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border: 2px solid black;
        width: 27px;
        height: 28px;
        background-color: white;
        color: red;
        border-radius: 80%;
        position: absolute;
        margin-left: 10px;
        margin-top: 5px;
    }

    ul {
        display: flex;
        flex-direction: row;
        padding: 0px;
        margin: 0px;

        li {
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 40px;
            background-color: red;
            color: white;
        }

        li:hover {
            cursor: pointer;
        }

    }
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.lightblue {
    background-color: lightblue;
}

.left {
    position: absolute;
    top: 0px;
}

.right {
    position: absolute;
    top: 0px;
    right: 0px;
}

.colorblue {
    color: blue;
}

.colorred {
    color: red;
}

.main {
    display: flex;
    justify-content: center;
    height: 350px;
    position: block;

    .main-info {
        align-items: center;
        position: relative;
        height: 600px;
        width: 1100px;

        .advertising {
            width: 550px;
            height: 350px;
            position: absolute;
            right: 0px;
            display: flex;

            .images {
                width: 100%;
                height: 350px;
                position: relative;
                padding-right: 2px;
                margin-left: 20px;

                img {

                    width: 70%;
                    height: 45%;
                }

                .image-left {
                    position: absolute;
                    left: 0px;
                    top: 0px;

                }

                .image-right {
                    position: absolute;
                    right: 0px;
                    top: 0px;

                }

                .image-right-bottom {
                    position: absolute;
                    right: 0px;
                    top: 50%;
                }


            }



        }

        .news-headers {
            width: 550px;
            height: 500px;
            position: absolute;
            left: 0px;

            .info-area {
                width: 550px;
                // border: 2px solid black;
                height: 100px;
                display: flex;
                padding-bottom: 8px;

                .info-text {

                    h4,
                    p {
                        padding: 2px;
                        margin: 0px;
                        color: white;
                    }

                    width: 550px;
                    height: 100px;
                    float: left;
                }

                .image {
                    width: 150px;
                    height: 100px;

                    img {
                        width: 150px;
                        height: 100%;
                        float: right;
                    }

                }
            }
        }


    }
}



.main-wrapper {
    display: flex;
    justify-content: center;
    height: 150px;
    position: relative;
    padding-left: 20px;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.more-content {
    width: 550px;
    height: 250px;
    position: relative;
    display: flex;
    flex-direction: row;

    .title-info {
        width: 550px;
        height: 25px;
        border: 3px solid black;
        position: absolute;
        margin-bottom: 20px;
        top: 0px;

        p {
            padding: 0px;
            padding-left: 10px;
            padding-bottom: 15px;
            margin: 0px;
            color: white;
        }

    }

    .more-articles {
        width: 550px;
        height: 200px;
        position: relative;
        top: 40px;

        .items {
            position: absolute;
            display: flex;
            flex-direction: row;

            .images {
                width: 170px;
                height: 200px;
                position: relative;
                margin-right: 20px;

                .info {

                    p {
                        padding-top: 2px;
                        color: black;
                        font-weight: bolder;
                        display: inline;
                    }

                    width: 150px;
                    color: black;
                    // border: 1px solid black;
                    position: absolute;
                    bottom:10px;

                }

                .img-info {
                    width: 150px;
                    height: 100px;
                    padding-right: 10px;
                    position: relative;

                    img {
                        width: 170px;
                        height: 100%;
                        padding-right: 20px;
                    }

                    h3 {
                        padding: 0px;
                        margin: 0px;
                        width: 100px;
                        position: absolute;
                        top: 70px;
                        left: 5px;
                        background-color: red;
                        border: 2 solid black;
                        border-radius: 25px;
                        color: white;
                        text-align: center;
                    }

                }
            }
        }
    }
}


.combine-wrappers {
    width: 1200px;
    position: relative;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}


.footer {
    justify-content: center;
    display: flex;

    footer {
        width: 1100px;
        height: 150px;
        background-color: rgb(70, 69, 69);
        color: white;
        justify-content: center;

        .social-network {
            width: 100px;
            justify-content: center;
            left: 270px;
            position: relative;

            ul {
                text-align: center;
                // align-items: center;
                // justify-content: space-between;
                display: flex;
            }

            li {
                padding-bottom: 20px;
                font-size: xx-large;
                // border: 2px solid black;
                width: 90px;
                height: 15px;
                padding-top: 20%;
                margin-bottom: 10px;
                color: white;
            }
        }

        .footer-list {
            justify-content: center;
            text-align: center;

            ul {
                display: flex;
                justify-content: center;
                padding: 0px;

                li {
                    display: flex;
                    flex-direction: row;
                    padding-right: 30px;
                    font-size: larger;

                }

                li:hover {
                    cursor: pointer;
                }
            }
        }


        .copyright {
            text-align: center;
            background-color: black;
            font-size: larger;
            font-family: sans-serif;
            height: 40px;
            justify-items: center;
        }
    }
}