.chessBoard {
  // display: grid;
 
  // grid-template-columns: repeat(8, 1fr);
  // grid-template-rows: repeat(8, 1fr);

  .black {
    background-color: red;
  }

  .white {
    background-color: white;
  }

  .piece{
    max-width: 100%;
    max-height: 100%;
  }

  
}

table{
  
  td{
    width: 120px;
    height: 120px;
  }
}


