.Yellow{
    background-color: yellow;
    color: white;
}
.white{
    background-color: white;
    color: yellow;
}

.big{
    padding: 20px;
    font-size: 20px;
    border-radius: 5px;
    border:none;
}

// .transition{
//     transition: all 0.5s;
// }