@import "news-items.scss";

.main-news {
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 1px solid #000000;
    max-width: 35vw;
    max-height: 20vh;
    margin-bottom: 10px;

    &__item {
        img {
            width: 30%;
            float: left;
            padding-right: 20px;
            border-radius: 15px;
            padding: 10px;

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }

        &>.info {
            font-size: 0.8rem;
            max-height: 20px;
            max-width: 70ch;
            display: flex;
            flex-direction: column;
        }
    }
}