.animation-example {

    background-color: red;
    width: 100px;
    height: 100px;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid black;
    animation-name: walk;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;

    @keyframes walk {
        from {
            top: 0px;
        }

        to {
            top: 50vh
        }
    }


}

.animation-rotate-example {
    background-color: yellow;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 200px;
    border: 1px solid black;
    border-radius: 50px;
    animation-name: jump;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

    @keyframes jump {
        0% {
            top: 0px;
            left: 25px
        }

        25% {
            top: 0px;
            left: 125px
        }

        50% {
            top: 0px;
            left: 225px
        }

        75% {
            top: 50px;
            left: 325px
        }

        100% {
            top: 100px;
            left: 425px
        }

    }
}