.popup{
    background-color: #ff8787;
    padding: 20px;
    min-width: 300px;
    border-radius: 5px;
    button{
        background-color: #f96a6a;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
    }
}