.home-container {
    margin-top: 10%;

    .home-buttons {
        width: 280px;
        height: 400px;
        margin: 0 auto;
        border-radius: 20px;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        &--admin {
            margin: 45% auto 0 auto;
            background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
            box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
            background-size: 300% 100%;
            transition: all 0.4s ease-in-out;

            &:hover {
                background-position: 100% 0;
            }

            &:focus {
                outline: none;
            }
        }

        &--shop {
            margin: 7% auto 0 auto;
            background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
            box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
            background-size: 300% 100%;
            transition: all 0.4s ease-in-out;

            &:hover {
                background-position: 100% 0;
            }

            &:focus {
                outline: none;
            }
        }
    }

    .btn {
        font-size: 16px;
        width: 13rem;
        height: 3rem;
        border-radius: 50px;
        text-align: center;
        border: none;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
    }
}