:root {
  --background-color-brand-primary: rgb(26, 72, 196);
  --background-color-grey-lightest: rgb(237, 235, 235);
  --background-color-white: rgb(255, 255, 255);
  --primary-color: rgb(0, 0, 0,) !important;
}

header {
  color: white !important;
}

body {
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: var(--background-color-grey-lightest);
}

.home-wrapper {
  font-weight: 600;
}
.home-wrapper * {
  margin: 0;
  padding: 0;
}
.home-wrapper h2 {
  font-weight: 800;
  letter-spacing: 0 !important;
}
.home-wrapper a {
  text-decoration: none;
  color: inherit;
}
.home-wrapper a:hover {
  color: var(--background-color-brand-primary);
}
.home-wrapper p,
.home-wrapper a {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.home-wrapper img {
  width: 100%;
}
.home-wrapper img:hover {
  cursor: pointer;
}

.main {
  display: grid;
  grid-template-columns: 1;
  row-gap: 40px;
}
.main_article {
  display: grid;
  grid-template-columns: 25% 1fr;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.main_article_left {
  margin-top: 20px;
}
.main_article_right {
  position: relative;
}
.main_article_right img {
  height: 100%;
}
.main_article_right .text-top-story {
  position: absolute;
  bottom: 0;
  margin: 20px;
}
.main_article_right .text-top-story h2 {
  background-color: var(--background-color-white);
  padding-inline: 10px;
}
.main_article_right .text-top-story:hover {
  filter: none;
}
.main_article_right .top-story {
  border-bottom: 8px #101119 solid;
  background-color: var(--background-color-brand-primary);
  padding: 5px 10px;
  margin-bottom: 10px;
  color: var(--background-color-white);
}
.main_hot_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color-brand-primary);
  color: var(--background-color-white);
  padding: 20px;
}
.main_hot_header span {
  font-weight: 300;
}
.main_hot_desk {
  display: flex;
  background-color: var(--background-color-white);
}
.main_hot_desk_card {
  flex: 1;
  padding-inline: 20px;
  margin-top: 20px;
  text-align: center;
  border-right: 1px solid var(--background-color-grey-lightest);
}
.main_hot_desk_card img {
  border-radius: 50%;
}
.main_hot_desk_card h2, .main_hot_desk_card a {
  color: var(--background-color-brand-primary);
}
.main_hot_desk_card p {
  font-size: 0.8rem;
  font-weight: 200;
}
.main_editor_title {
  font-size: 1.5rem;
}
.main_editor_desk_card {
  background-color: var(--background-color-white);
}
.main_editor_desk_card .section-name,
.main_editor_desk_card h3,
.main_editor_desk_card .main_editor_desk_card_data {
  margin-inline: 20px;
}
.main_editor_desk_card .section-name {
  margin-top: 20px;
  margin-bottom: 20px;
}
.main_editor_desk_card_data {
  font-size: 0.7rem;
  color: rgb(100, 100, 100);
}

.section-name {
  border-bottom: 3px var(--background-color-brand-primary) solid;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.2rem;
}

.by {
  display: flex;
  line-height: 1.2rem;
}
.by p {
  padding-right: 5px;
}

.side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
.side_latest_card {
  font-size: 0.9rem;
}
.side_latest_card .date {
  color: var(--background-color-brand-primary);
  font-size: 0.8em;
  border-bottom: 1px solid var(--background-color-grey-lightest);
}
.side_latest_card:nth-last-child {
  border: none;
}
.side_trending_desk_card {
  display: flex;
  border-bottom: 3px solid var(--background-color-grey-lightest);
  background-color: var(--background-color-white);
  align-items: center;
  height: 100px;
}
.side_trending_desk_card h2,
.side_trending_desk_card a {
  padding: 20px;
}
.side_trending_desk_card h2 {
  border-right: 1px solid var(--background-color-grey-lightest);
}
.side_trending_desk_card a {
  color: var(--background-color-brand-primary);
}
.side_trending_desk_card a:hover {
  color: black;
}

.side-blok {
  padding: 10px 20px 20px 20px;
  border-top: 8px var(--background-color-brand-primary) solid;
  background-color: var(--background-color-white);
}

.home-line {
  color: var(--background-color-white);
  background-color: #101119;
  padding-bottom: 80px;
}

.home_video_desk {
  display: grid;
  grid-template-columns: 1;
}
.home_video_desk_card {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.home_video_desk_card p {
  margin-left: 20px;
}

.home-title {
  margin: auto;
  display: flex;
  align-items: end;
  max-width: 1200px;
  padding: 20px;
  font-weight: 900;
}
.home-title span {
  font-size: 2em;
}
.home-title .view-all {
  padding-bottom: 0.3em;
  padding-inline: 20px;
  color: var(--background-color-brand-primary);
  font-size: 0.8rem;
}

.between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-hover:hover {
  filter: sepia(100%) hue-rotate(190deg) saturate(100%);
  cursor: pointer;
}

.home-container {
  box-sizing: border-box;
  margin: auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 40px;
}

[class*="-1"] {
  grid-column: span 1;
}

[class*="-2"] {
  grid-column: span 2;
}

[class*="-3"] {
  grid-column: span 3;
}

[class*="-4"] {
  grid-column: span 4;
}

[class*="-6"] {
  grid-column: span 6;
}

[class*="-8"] {
  grid-column: span 8;
}

[class*="-9"] {
  grid-column: span 9;
}

[class*="-12"] {
  grid-column: span 12;
}/*# sourceMappingURL=styles.css.map */