body {
  color: white;
}

.main-bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(16, 17, 25);
}
.main-bloc .wrapper {
  padding-bottom: 1rem;
  width: 70%;
  margin-top: 3rem;
}
.main-bloc .wrapper .video-main-title {
  display: flex;
  gap: 1rem;
  border-bottom: 1px white solid;
  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.main-bloc .wrapper a {
  text-decoration: none;
}
.main-bloc .wrapper a:hover {
  color: rgb(131, 199, 241);
}
.main-bloc .wrapper img {
  width: 70vw;
}
.main-bloc .wrapper .footer-caption {
  font-weight: 900;
  margin-top: 2rem;
  color: white;
  border-bottom: 1px white solid;
  padding-bottom: 1rem;
}
.main-bloc #most {
  margin-top: 2rem;
}
.main-bloc .most-recent-wrapper {
  display: flex;
  height: 5rem;
  width: 100%;
  gap: 5rem;
  margin-top: 2rem;
}
.main-bloc .most-recent-wrapper .most-recent {
  flex-grow: 1;
}
.main-bloc .most-recent-wrapper .most-recent img {
  width: 17rem;
  height: 10rem;
}
.main-bloc .Bottom-section {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  margin-top: 10rem;
  padding-top: 1rem;
}
.main-bloc .Bottom-section .Bottom-ssection-wrapper {
  width: 70%;
  display: flex;
  height: 10rem;
  gap: 5rem;
  margin-top: 2rem;
}
.main-bloc .Bottom-section .Bottom-ssection-wrapper .most-recent {
  flex-grow: 1;
}
.main-bloc .Bottom-section .Bottom-ssection-wrapper .most-recent img {
  width: 17rem;
  height: 10rem;
}

:root {
  --font-family-primary-fancy: "Neue Haas Grotesk Display Pro", sans-serif;
  --font-family-primary: "Times New Roman", serif;
  --font-family-secondary-fancy: Arial, sans-serif;
  --sticky-nav-height: 5.25rem;
  --login-bar-height: 0rem;
  --sticky-header-height: 4.25rem;
  --primary-color-header: white;
  --secondary-color: black;
  --highlight-color: #1a48c4;
  --login-hover: rgb(118, 186, 223);
  --border-color: #2f323f;
  --shadow-color: rgba(0, 0, 0, 0.16);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100% !important;
  font-family: var(--font-family-primary-fancy);
}

header {
  z-index: 1000;
  letter-spacing: 3px;
  transition: 0.5s;
  color: var(--primary-color-header);
  background-color: var(--secondary-color);
  font-weight: 600;
}
header a {
  text-decoration: none;
  color: var(--primary-color-header);
}
header h2 {
  letter-spacing: -2px;
}
header .header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid var(--border-color);
}
header .header__logo__middle {
  text-align: center;
  margin-left: 15rem;
}
header .header__logo__right {
  display: flex;
  gap: 10px;
}
header .header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
  padding: 0.5rem 2rem;
  background-color: var(--secondary-color);
  transition: all 0.5s ease;
}
header .header__nav.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  color: var(--primary-color-header);
  z-index: 9999;
}
header .header__nav__left .fa-magnifying-glass {
  font-size: 1.5rem;
}
header .header__nav__left .fa-magnifying-glass:hover {
  color: var(--highlight-color);
}
header .header__nav__left .brand1 {
  display: inline;
}
header .header__nav__left .brand2 {
  display: none;
}
header .header__nav__left .brand2 h2 {
  font-size: 1.5rem;
  letter-spacing: 1px;
}
header .header__nav__middle ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
header .header__nav__middle ul li {
  padding: 0.5rem 3rem;
}
header .header__nav__middle ul li a:hover {
  color: var(--highlight-color);
}
header .header__nav__right .brand1 {
  display: inline;
}
header .header__nav__right .brand2 {
  display: none;
}
header .header__nav__right .brand2 .login2 {
  border: none;
}
header .header__nav__right .brand2 .login2:hover {
  color: var(--login-hover);
}
header .header__nav.scrolled .brand1 {
  display: none;
}
header .header__nav.scrolled .brand2 {
  display: inline;
}
header .header__secondary {
  background-color: white;
  height: 2.8125rem;
  box-shadow: 0px 3px 6px var(--shadow-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 0;
}
header .header__secondary ul {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100%;
}
header .header__secondary ul li {
  list-style: none;
  text-align: center;
  padding-left: 0;
  margin: 0;
}
header .header__secondary ul li a {
  color: #63677a;
  transition: color 0.3s ease;
}
header .header__secondary ul li a:hover {
  color: var(--highlight-color);
}
header .header__secondary #spanish {
  color: white;
  background-color: var(--highlight-color);
  padding: 0.3rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}
header .header__secondary #spanish:hover {
  color: var(--highlight-color);
  background-color: white;
}

/* Buttons */
.login, .subscribe, .login2 {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem;
  border: 1px solid white;
  background-color: var(--secondary-color);
  color: var(--primary-color-header);
  transition: all 0.3s ease;
}
.login:hover, .subscribe:hover, .login2:hover {
  cursor: pointer;
}
.login.login:hover, .subscribe.login:hover, .login2.login:hover {
  border-color: var(--login-hover);
  color: var(--login-hover);
}
.login.subscribe, .subscribe.subscribe, .login2.subscribe {
  background-color: var(--highlight-color);
  border: none;
}
.login.subscribe:hover, .subscribe.subscribe:hover, .login2.subscribe:hover {
  background-color: white;
  color: var(--highlight-color);
}
.login.login2, .subscribe.login2, .login2.login2 {
  border: none;
}
.login.login2:hover, .subscribe.login2:hover, .login2.login2:hover {
  color: var(--login-hover);
}

/* Sliding Menu */
.sliding-menu {
  display: none;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1000;
  overflow-y: auto;
  transition: top 0.5s;
}
.sliding-menu.open {
  display: block;
  top: 0;
}

/* Menu Button */
#menuButton {
  background-color: var(--secondary-color);
  color: var(--primary-color-header);
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}
#menuButton i {
  font-size: 1rem;
}/*# sourceMappingURL=Video.css.map */